<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 配置连接池: -->
	<!-- 引入外部属性文件 -->	
	<context:property-placeholder location="classpath:jdbc.properties" />
	<!-- 配置C3P0连接池: -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- Hibernate的相关信息 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 配置Hibernate的其他的属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 配置Hibernate的映射文件 S -->
		<property name="mappingResources">
			<list>
				<value>com/frank/shop/user/domain/User.hbm.xml</value>
				<value>com/frank/shop/category/domain/Category.hbm.xml</value>

				<value>com/frank/shop/product/domain/Product.hbm.xml</value>
				<value>com/frank/shop/categorysecond/domain/CategorySecond.hbm.xml</value>
				<value>com/frank/shop/order/domain/Order.hbm.xml</value>
				<value>com/frank/shop/order/domain/OrderItem.hbm.xml</value>
				<value>com/frank/shop/adminuser/domain/AdminUser.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- 事务管理: -->
	<!-- 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- Action的配置 =========================== -->

	<!-- 配置访问首页的Action -->
	<bean id="indexAction" class="com.frank.shop.index.action.IndexAction"
		scope="prototype">
		<property name="categoryService" ref="categoryService"></property>
		<property name="productService" ref="productService"></property>
	</bean>
	<!-- 配置访问用户模块的Action -->
	<bean id="userAction" class="com.frank.shop.user.action.UserAction"
		scope="prototype">
		<!-- 注入Service -->
		<property name="userService" ref="userService" />
	</bean>

	<!-- 配置验证码Action -->
	<bean id="checkImgAction" class="com.frank.shop.user.action.CheckImgAction"
		scope="prototype"></bean>

	<!-- 配置显示商品详情Action -->
	<bean id="productAction" class="com.frank.shop.product.action.ProductAction"
		scope="prototype">
		<property name="productService" ref="productService"></property>
	</bean>

	<!-- 配置访问购物车的action -->
	<bean id="cartAction" class="com.frank.shop.cart.action.CartAction"
		scope="prototype">
		<property name="productService" ref="productService"></property>
	</bean>
	
	<!-- 配置访问订单页面的Action -->
	<bean id="orderAction" class="com.frank.shop.order.action.OrderAction" scope="prototype">
		<property name="orderService" ref="orderService"></property>
	</bean>
	<!-- 配置访问用户后台管理页面的Action -->
	<bean id="adminUserAction" class="com.frank.shop.adminuser.action.AdminUserAction" scope="prototype">
		<property name="adminUserService" ref="adminUserService"></property>
	</bean>
	<!-- 配置访问后台管理一级分类页面的Action -->
	<bean id="adminCategoryAction" class="com.frank.shop.category.adminaction.AdminCategoryAction" scope="prototype">
		<property name="categoryService" ref="categoryService"></property>
	</bean>
	<!-- 配置访问后台管理二级分类页面的Action -->
	<bean id="adminCategorySercondAction" class="com.frank.shop.categorysecond.adminAction.AdminCategorySecondAction" scope="prototype">
		<property name="categorySecondService" ref="categorySecondService"></property>
	</bean>
	<!-- 配置访问后台管理商品页面的Action -->
	<bean id="adminProductAction" class="com.frank.shop.product.adminAction.AdminProductAction" scope="prototype">
		<property name="productService" ref="productService"></property>
		<property name="categoryService" ref="categoryService"></property>
	</bean>
	<!-- 配置访问后台管理订单页面的Action -->
	<bean id="adminOrderAction" class="com.frank.shop.order.adminAction.AdminOrderAction" scope="prototype">
		<property name="orderService" ref="orderService"></property>
	</bean>
	
	<!--Dao的配置 =========================== -->
	<!-- 配置用户模块Dao -->
	<bean id="userDao" class="com.frank.shop.user.dao.UserDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 配置一级分类Dao -->
	<bean id="categoryDao" class="com.frank.shop.category.dao.CategoryDao"
		scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 配置商品Dao -->
	<bean id="productDao" class="com.frank.shop.product.dao.ProductDao"
		scope="prototype">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 配置订单DAO -->
	<bean id="orderDao" class="com.frank.shop.order.dao.OrderDao" scope="prototype">
			<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 配置后台用户管理DAO -->
	<bean id="adminUserDao" class="com.frank.shop.adminuser.dao.AdminUserDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 配置二级分类DAO -->
	<bean id="categorySecondDao" class="com.frank.shop.categorysecond.dao.CategorySecondDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 配置Service =========================== -->
	<!-- 配置用户模块service -->
	<bean id="userService" class="com.frank.shop.user.service.UserService"
		scope="prototype">
		<property name="userDao" ref="userDao" />
	</bean>
	<!-- 配置一级分类Service -->
	<bean id="categoryService" class="com.frank.shop.category.service.CategoryService"
		scope="prototype">
		<property name="categoryDao" ref="categoryDao"></property>
	</bean>
	<!-- 配置商品Service -->
	<bean id="productService" class="com.frank.shop.product.service.ProductService"
		scope="prototype">
		<property name="productDao" ref="productDao"></property>
	</bean>
	<!-- 配置订单Service -->
	<bean id="orderService" class="com.frank.shop.order.service.OrderService" scope="prototype">
		<property name="orderDao" ref="orderDao"></property>
	</bean>
	<!-- 配置后台用户管理Service -->
	<bean id="adminUserService" class="com.frank.shop.adminuser.service.AdminUserService" scope="prototype">
		<property name="adminUserDao" ref="adminUserDao"></property>
	</bean>
	<!-- 配置二级分类Service -->
	<bean id="categorySecondService" class="com.frank.shop.categorysecond.service.CategorySecondService" scope="prototype">
		<property name="categorySecondDao" ref="categorySecondDao"></property>
	</bean>
</beans>
